.tile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 12px; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    overflow: hidden; /* Hide any overflow content */
  }
  
  .tile-content > * {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden; /* Hide any overflow content */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowing text */
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  .tile-content > *:not(:last-child) {
    margin-bottom: 12px; /* Adjust spacing between elements as needed */
  }
  